<script setup lang="ts">
import useSWRV from "swrv";
import { StoreService } from "@/services/StoreService";
import { computed, ref } from "@vue/reactivity";
import type { Stores } from "@/models/stores/Stores";
import AllStores from "../../components/stores/AllStores.vue";

const { data: stores } = useSWRV<Stores[]>("news", StoreService.getStore);
// const activeNewsId = ref("Ưu đãi đặc biệt");

// const posts = computed(() => {
//   return data.value?.find((i) => i.name === activeNewsId.value)?.posts ?? [];
// });

// const setActiveNewsId = (name: string) => {
//   activeNewsId.value = name;
// };
</script>
<template>
  <main>
    <AllStores :stores="stores" />
  </main>
</template>
