<template>
  <div class="pt-12">
    <div class="flex items-center justify-center pt-3">
      <i class="fa fa-newspaper text-[#ef8c1e] mr-3 text-2xl"></i>
      <div class="text-3xl font-semibold">Tin tức mới nhất</div>
    </div>

    <div>
      <ul
        class="flex items-center justify-center border border-[#dfdfdf] rounded-full w-[598px] h-[52px] mx-auto py-[10px] px-[30px] mt-10"
      >
        <li
          v-for="items in newdata"
          :key="items.name"
          class="mr-[30px] hover:text-[#0056b3] text-[#a09c98]"
        >
          <div
            :class="{
              'bg-gradient-to-r from-[#e87800] to-[#f7962e] rounded-full text-white':
                items.name === activeNewsId,
            }"
            @click="setActiveNewsId(items.name)"
            class="flex justify-center items-center cursor-pointer px-[10px] h-[32px] text-xs font-semibold uppercase"
          >
            {{ items.name }}
          </div>
        </li>
      </ul>
    </div>

    <div
      class="flex items-center flex-wrap container mx-auto max-w-8xl pl-[143px] pr-8"
    >
      <div
        v-for="post in posts"
        :key="post.id"
        class="shadow-xl bg-[#FFFFFF] mx-[15px] mb-4 mt-10 rounded-b-lg"
      >
        <img
          :src="post.thumbnail"
          alt=""
          class="w-[278px] h-[150px] rounded-t-lg"
        />
        <div class="w-[278px] h-[122px] px-4 pt-3 pb-4">
          <div
            class="flex flex-wrap h-12 mb-2 text-ellipsis overflow-hidden font-semibold"
          >
            {{ post.title }}
          </div>
          <div
            class="float-right rounded-full bg-[#e87800] h-[38px] w-[96px] flex items-center justify-center text-white text-xs hover:decoration-[#0056b3] hover:underline cursor-pointer"
          >
            <RouterLink :to="`/blogs/${post.id}`"> ĐỌC TIẾP </RouterLink>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import type { News } from "@/models/blogs/News";
import type { Posts } from "@/models/blogs/Posts";

import { RouterLink } from "vue-router";

defineProps<{
  newdata: News[] | undefined;
  activeNewsId: string;
  posts: Posts[];
}>();

const emit = defineEmits(["activeChange"]);

const setActiveNewsId = (name: string) => {
  emit("activeChange", name);
};
</script>
