<template>
  <div class="mx-auto max-w-4xl shadow-xl bg-[#ffffff] mt-[50px]">
    <div v-for="posts in arrPosts" :key="posts.id">
      <div v-if="$route.params.id === posts.id">
        <div class="p-[50px]">
          <div class="text-[32px] font-medium leading-9 mb-[30px]">
            {{ posts.title }}
          </div>
          <div :innerHTML="posts.html"></div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex items-center justify-center flex-wrap container mx-auto max-w-8xl pl-[143px] pr-8 mt-24"
  >
    <div class="flex items-center justify-center mx-auto pr-[115px]">
      <i class="fa fa-newspaper text-[#ef8c1e] mr-3 text-2xl"></i>
      <div class="text-3xl font-semibold">Tin tức liên quan</div>
    </div>

    <div class="flex items-center flex-wrap container mx-auto">
      <div
        v-for="(post, index) in arrPosts"
        :key="post.id"
        class="shadow-xl bg-[#FFFFFF] mx-[15px] mb-4 mt-10 rounded-b-lg"
      >
        <div v-if="index < 4">
          <img
            :src="post.thumbnail"
            alt=""
            class="w-[278px] h-[150px] rounded-t-lg"
          />
          <div class="w-[278px] h-[122px] px-4 pt-3 pb-4">
            <div
              class="flex flex-wrap h-12 mb-2 text-ellipsis overflow-hidden font-semibold"
            >
              {{ post.title }}
            </div>
            <div
              class="float-right rounded-full bg-[#e87800] h-[38px] w-[96px] flex items-center justify-center text-white text-xs hover:decoration-[#0056b3] hover:underline cursor-pointer"
            >
              <RouterLink :to="`/blogs/${post.id}`"> ĐỌC TIẾP </RouterLink>
            </div>
          </div>
        </div>
      </div>
    </div>
    <RouterLink to="/blogs">
      <div
        class="text-[#ef8c1e] flex justify-center items-center mb-14 text-sm pr-[115px]"
      >
        Xem tất cả &nbsp;<i class="fa fa-arrow-right"></i>
      </div>
    </RouterLink>
  </div>
</template>
<script setup lang="ts">
import type { Posts } from "@/models/blogs/Posts";
import { RouterLink } from "vue-router";

defineProps<{
  arrPosts: Posts[] | undefined;
}>();
</script>
