<script setup lang="ts">
import type { News } from "@/models/blogs/News";
import { NewsService } from "@/services/NewsService";
import useSWRV from "swrv";
import NewsFeed from "../../components/blogs/NewsFeed.vue";
import { computed, ref } from "@vue/reactivity";

const { data: newdata } = useSWRV<News[]>("news", NewsService.getNews);
const activeNewsId = ref("Ưu đãi đặc biệt");

const posts = computed(() => {
  return newdata.value?.find((i) => i.name === activeNewsId.value)?.posts ?? [];
});

const setActiveNewsId = (name: string) => {
  activeNewsId.value = name;
};
</script>
<template>
  <main>
    <NewsFeed
      :newdata="newdata"
      :active-news-id="activeNewsId"
      @active-change="setActiveNewsId"
      :posts="posts"
    />
  </main>
</template>
