<script setup lang="ts">
import type { News } from "@/models/blogs/News";
import { NewsService } from "@/services/NewsService";
import useSWRV from "swrv";
import PostNews from "../../components/blogs/PostNews.vue";
import type { Posts } from "@/models/blogs/Posts";

const { data: newdata } = useSWRV<News[]>("news", NewsService.getNews);

const arrPosts = newdata.value?.reduce(
  (previousValue: Posts[], currentValue: News) =>
    previousValue.concat(currentValue.posts),
  []
);
</script>
<template>
  <main>
    <PostNews :arr-posts="arrPosts" />
  </main>
</template>
