<template>
  <div class="carousel w-full bg-gradient-to-l from-[#ffac3c] to-[#fb8d17]">
    <div class="carousel mx-auto max-w-7xl my-6">
      <div id="slide1" class="carousel-item relative w-full">
        <img
          src="https://minio.thecoffeehouse.com/image/admin/1649782779_banner-web.jpg"
          class="w-full"
        />
        /
        <div
          class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
        >
          <a href="#slide5" class="btn btn-circle">❮</a>
          <a href="#slide2" class="btn btn-circle">❯</a>
        </div>
      </div>
      <div id="slide2" class="carousel-item relative w-full">
        <img
          src="https://minio.thecoffeehouse.com/image/admin/1649353133_bh-web.jpg"
          class="w-full"
        />
        /
        <div
          class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
        >
          <a href="#slide1" class="btn btn-circle">❮</a>
          <a href="#slide3" class="btn btn-circle">❯</a>
        </div>
      </div>
      <div id="slide3" class="carousel-item relative w-full">
        <img
          src="https://minio.thecoffeehouse.com/image/admin/1649353010_banner-web.jpg"
          class="w-full"
        />
        /
        <div
          class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
        >
          <a href="#slide2" class="btn btn-circle">❮</a>
          <a href="#slide4" class="btn btn-circle">❯</a>
        </div>
      </div>
      <div id="slide4" class="carousel-item relative w-full">
        <img
          src="https://minio.thecoffeehouse.com/image/admin/1649318882_bh-web.jpg"
          class="w-full"
        />
        /
        <div
          class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
        >
          <a href="#slide3" class="btn btn-circle">❮</a>
          <a href="#slide5" class="btn btn-circle">❯</a>
        </div>
      </div>
      <div id="slide5" class="carousel-item relative w-full">
        <img
          src="https://minio.thecoffeehouse.com/image/admin/1649318882_bh-web.jpg"
          class="w-full"
        />
        /
        <div
          class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
        >
          <a href="#slide4" class="btn btn-circle">❮</a>
          <a href="#slide1" class="btn btn-circle">❯</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts"></script>

<style></style>
