<template>
  <div class="container mx-auto max-w-7xl px-8">
    <div class="pt-16 mt-2 mb-2">
      <!-- <div v-if="error">failed to load</div>
    <div v-if="!data">loading...</div>
    <div v-else>hello {{ data }}</div> -->

      <div class="flex justify-center items-center">
        <i class="fa fa-trophy text-[#ef8c1e] mr-3 text-2xl"></i>
        <span class="font-medium text-3xl">Sản phẩm từ Nhà </span>
        <div>
          <div>
            <slot name="menu"></slot>
          </div>
        </div>
      </div>

      <ul
        v-if="productdata"
        class="flex justify-center items-center pt-7 pl-2 text-[#b2b2b2]"
      >
        <li
          v-for="dataMenu in productdata"
          :key="dataMenu.id"
          :class="{
            ' text-[#fa8c16] ': dataMenu.id === activeItemId,
          }"
          class=""
        >
          <div
            @click="setActiveItemId(dataMenu.id)"
            class="py-[8px] px-[16px] flex flex-col items-center w-[135px] h-[150px]"
          >
            <div
              :class="{
                'bg-[#ffd382] rounded-full': dataMenu.id === activeItemId,
              }"
              class="flex flex-col items-center justify-center bg-[#fff7e6] rounded-full w-[86px] h-[86px] overflow-hidden transition-all"
            >
              <img :src="dataMenu.thumbnail" alt="" class="h-[75%]" />
            </div>
            <div>
              <p
                class="flex flex-col flex-wrap text-center text-xs font-semibold w-[86px] mt-[5px]"
              >
                {{ dataMenu.name }}
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script setup lang="ts">
import type { Menu } from "@/models/order/Menu";

defineProps<{
  productdata: Menu[] | undefined;
  activeItemId: number;
}>();

const emit = defineEmits(["activeChange"]);

const setActiveItemId = (id: number) => {
  emit("activeChange", id);
};
</script>
