<template>
  <div class="pt-12">
    <div class="flex items-center justify-center pt-3">
      <i class="fa fa-newspaper text-[#ef8c1e] mr-3 text-2xl"></i>
      <div class="text-3xl font-semibold">Tin tức mới nhất</div>
    </div>

    <!-- <div>
      <ul
        class="flex items-center justify-center border border-[#dfdfdf] rounded-full w-[598px] h-[52px] mx-auto py-[10px] px-[30px] mt-10"
      >
        <li
          v-for="items in newsdata"
          :key="items.name"
          class="mr-[30px] hover:text-[#0056b3] text-[#a09c98]"
        >
          <div
            :class="{
              'bg-gradient-to-r from-[#e87800] to-[#f7962e] rounded-full text-white':
                items.name === activeNewsId,
            }"
            @click="setActiveNewsId(items.name)"
            class="flex justify-center items-center cursor-pointer px-[10px] h-[32px] text-xs font-semibold uppercase"
          >
            {{ items.name }}
          </div>
        </li>
      </ul>
    </div> -->

    <div
      class="flex items-center flex-wrap container mx-auto max-w-8xl pl-[143px] pr-8"
    >
      <div
        v-for="(post, index) in posts"
        :key="post.id"
        class="shadow-xl bg-[#FFFFFF] mx-[15px] mb-4 mt-10 rounded-b-lg"
      >
        <div v-if="index < 8">
          <img
            :src="post.thumbnail"
            alt=""
            class="w-[278px] h-[150px] rounded-t-lg"
          />
          <div class="w-[278px] h-[122px] px-4 pt-3 pb-4">
            <div
              class="flex flex-wrap h-12 mb-2 text-ellipsis overflow-hidden font-semibold"
            >
              {{ post.title }}
            </div>
            <div
              class="float-right rounded-full bg-[#e87800] h-[38px] w-[96px] flex items-center justify-center text-white text-xs hover:decoration-[#0056b3] hover:underline cursor-pointer"
            >
              <RouterLink :to="`/blogs/${post.id}`"> ĐỌC TIẾP </RouterLink>
            </div>
          </div>
        </div>
      </div>
    </div>

    <RouterLink to="/blogs">
      <div
        class="text-[#ef8c1e] flex justify-center items-center mb-14 text-sm"
      >
        Xem tất cả &nbsp;<i class="fa fa-arrow-right"></i>
      </div>
    </RouterLink>

    <div class="h-[616px] bg-[#ef8c1e]">
      <div class="flex container mx-auto max-w-7xl pl-10 pr-5 pt-36 px-[15px]">
        <div class="flex">
          <div class="flex pt-20">
            <img
              src="https://order.thecoffeehouse.com/_nuxt/img/squarelogo.035676b.png"
              alt=""
              class="w-[100px] h-[103px]"
            />
            <div class="pl-4">
              <div class="text-xl font-semibold h-[56px] w-[367px] text-white">
                Đặt qua app THE COFFEE HOUSE để tích điểm và hưởng quyền lợi
                thành viên.
              </div>
              <div class="flex flex-row pt-20 pl-6">
                <img
                  src="https://order.thecoffeehouse.com/_nuxt/img/app-store-2.a04cf2b.png"
                  alt=""
                  class="w-[100px] h-[30px]"
                />
                <img
                  src="https://order.thecoffeehouse.com/_nuxt/img/google-play-2.9945b62.png"
                  alt=""
                  class="w-[100px] h-[30px] ml-2"
                />
              </div>
            </div>
          </div>
          <div class="pl-6 w-[688px]">
            <img
              src="https://order.thecoffeehouse.com/_nuxt/img/newappv6.f2e1281.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import type { News } from "@/models/blogs/News";
import type { Posts } from "@/models/blogs/Posts";

import { RouterLink } from "vue-router";

defineProps<{
  newsdata: News[] | undefined;
  activeNewsId: string;
  posts: Posts[];
}>();

const emit = defineEmits(["activeChange"]);

const setActiveNewsId = (name: string) => {
  emit("activeChange", name);
};
</script>
