<script setup lang="ts">
import type { Menu } from "@/models/order/Menu";
import { OrderService } from "@/services/OrderService";
import useSWRV from "swrv";

import { computed, ref } from "@vue/reactivity";
import type { Product } from "@/models/order/Product";
import MenuItemsHome from "../../components/home/MenuItemsHome.vue";
import ProductListingHome from "../../components/home/ProductListingHome.vue";
import HomePage from "../../components/home/HomePage.vue";
import type { News } from "@/models/blogs/News";
import { NewsService } from "@/services/NewsService";
import NewsFeedHome from "../../components/home/NewsFeedHome.vue";

const { data: productdata } = useSWRV<Menu[]>("menu", OrderService.getMenu);

const activeItemId = ref(1);
const searchProduct = ref();
const activeProductId = ref("");

const products = computed(() => {
  return (
    productdata.value?.find((i) => i.id === activeItemId.value)?.products ?? []
  );
});

const optionProducts = computed(() => {
  return products.value?.find((i) => i.id)?.options ?? [];
});

// const itemProducts = computed(() => {
//   return optionProducts.value?.find((i) => i.items)?.items ?? [];
// });

const itemSize = computed(() => {
  return optionProducts.value?.find((i) => i.name)?.items ?? [];
});

const itemTopping = computed(() => {
  return optionProducts.value?.find((i) => i.group_id)?.items ?? [];
});

const filterProducts = computed(() => {
  return arrProduct?.filter((i: Product) => {
    return i.name.toLowerCase().includes(searchProduct.value?.toLowerCase());
  });
});
//  dùng reduce

const arrProduct = productdata.value?.reduce(
  (previousValue: Product[], currentValue: Menu) =>
    previousValue.concat(currentValue.products),
  []
);

const setActiveItemId = (id: number) => {
  activeItemId.value = id;
};

const setActiveProductId = (id: string) => {
  activeProductId.value = id;
};

const { data: newsdata } = useSWRV<News[]>("news", NewsService.getNews);
const activeNewsId = ref("Ưu đãi đặc biệt");

const posts = computed(() => {
  return (
    newsdata.value?.find((i) => i.name === activeNewsId.value)?.posts ?? []
  );
});

const setActiveNewsId = (name: string) => {
  activeNewsId.value = name;
};
</script>

<template>
  <main>
    <HomePage />
    <MenuItemsHome
      :productdata="productdata"
      :active-item-id="activeItemId"
      @active-change="setActiveItemId"
    >
    </MenuItemsHome>

    <ProductListingHome
      :products="products"
      :active-product-id="activeProductId"
      @active-change-product="setActiveProductId"
      :option-products="optionProducts"
      :item-size="itemSize"
      :item-topping="itemTopping"
    >
    </ProductListingHome>
    <NewsFeedHome
      :newsdata="newsdata"
      :active-news-id="activeNewsId"
      @active-change="setActiveNewsId"
      :posts="posts"
    />
  </main>
</template>
