<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
</script>

<template>
  <header
    class="bg-gradient-to-r from-[#ffac3c] to-[#fb8d17] h-20 flex items-center sticky top-0 z-50"
  >
    <div class="flex items-center container mx-auto max-w-7xl pl-10 pr-5">
      <a href="/" class="mr-10">
        <img
          alt="The coffe house logo"
          src="@/assets/logo-tch.svg"
          class="h-3.5 w-41"
        />
      </a>

      <div
        class="bg-[#ef8c1e] rounded-full w-64 h-14 flex flex-row items-center mr-8 pl-2"
      >
        <img src="@/assets/Delivery2.png" alt="" class="h-10 w-10" />
        <div class="text-white pl-2 leading-5">
          <h5 class="font-medium">Giao hàng</h5>
          <p class="text-sm">Tại: Trương Công Định, phư...</p>
        </div>
        <img src="@/assets/arrow.svg" alt="" class="h-1.5 w-2" />
      </div>
      <nav class="text-white font-medium text-sm px-4 h-[21px]">
        <ul class="flex">
          <li class="hover:border-b-2 border-white pb-1.5">
            <RouterLink to="/product-list">Đặt hàng</RouterLink>
          </li>
          <li class="ml-6 hover:border-b-2 border-white pb-1.5">
            <RouterLink to="/blogs">Tin tức</RouterLink>
          </li>
          <li class="ml-6 hover:border-b-2 border-white pb-1.5">
            <RouterLink to="/stores">Cửa hàng</RouterLink>
          </li>
          <li class="ml-6 hover:border-b-2 border-white pb-1.5">
            <RouterLink to="/promotion">Khuyến mãi</RouterLink>
          </li>
          <li class="ml-6 hover:border-b-2 border-white pb-1.5">
            <RouterLink to="#">Tuyển dụng</RouterLink>
          </li>
        </ul>
      </nav>

      <div class="flex justify-end items-start ml-auto">
        <a href="/" class="mt-4">
          <span>
            <img src="@/assets/Login.png" alt="" class="w-10" />
          </span>
        </a>
        <a href="/" class="mt-1">
          <img src="@/assets/Carticon.png" alt="" class="carticon" />
        </a>
      </div>
    </div>
  </header>
  <RouterView />
  <footer>
    <div class="bgimg max-w-[1520px] px-40">
      <div class="flex">
        <img
          src="https://order.thecoffeehouse.com/_nuxt/img/logo-footer.72c86fc.png"
          alt="logo footer"
          class="my-16 h-[60px] w-[83px]"
        />
        <div class="flex ml-[122px]">
          <div class="collapse-plus pr-3">
            <div class="collapse mt-10 w-[230px]">
              <input type="checkbox" />
              <div class="collapse-title text-white">Thông tin website</div>
              <hr class="text-white ml-4" />
              <div class="collapse-content text-white pt-0">
                <p>Trang chủ</p>
                <p>Đặt hàng</p>
                <p>Tin tức</p>
                <p>Tuyển dụng</p>
                <p>Khuyến mãi</p>
              </div>
            </div>
          </div>
          <div class="collapse-plus px-3">
            <div class="collapse mt-10 w-[230px]">
              <input type="checkbox" />
              <div class="collapse-title text-white">Điều khoản sử dụng</div>
              <hr class="text-white ml-4" />
              <div class="collapse-content text-white pt-0">
                <p>Quy chế website</p>
                <p>Bảo mật thông tin</p>
              </div>
            </div>
          </div>
          <div class="collapse-plus px-3">
            <div class="collapse mt-10 w-[230px]">
              <input type="checkbox" />
              <div class="collapse-title text-white">Hotline</div>
              <hr class="text-white ml-4" />
              <div class="collapse-content text-white pt-0">
                <p>Đặt hàng 1800 6936 (07:00-20:30)</p>
                <p>Hỗ trợ 028.71.087.088 (07:00-21:00)</p>
              </div>
            </div>
          </div>
          <div class="collapse-plus px-3">
            <div class="collapse mt-10 w-[230px]">
              <input type="checkbox" />
              <div class="collapse-title text-white">Liên hệ</div>
              <hr class="text-white ml-4" />
              <div class="collapse-content text-white pt-0">
                <p>
                  Head Office 1: 86 - 88 Cao Thang, Ward 4, District 3, Ho Chi
                  Minh, Vietnam. Head Office 2: Floor 3 & 4 The Hub Building -
                  195/10E Dien Bien Phu, Ward 15, Binh Thanh District, Ho Chi
                  Minh, Vietnam. +842871 078 079 hi@thecoffeehouse.vn
                </p>
                <p>
                  Head Office 2: Floor 3 & 4 The Hub Building - 195/10E Dien
                  Bien Phu, Ward 15, Binh Thanh District, Ho Chi Minh, Vietnam.
                </p>
                <p>+842871 078 079</p>
                <p>hi@thecoffeehouse.vn</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-40 bg-black pb-12 flex">
      <div class="mt-[45px]">
        <div class="text-white py-1 text-xs">
          Công ty cổ phần thương mại dịch vụ Trà Cà Phê VN
        </div>
        <div class="text-white py-1 text-xs">
          Mã số DN: 0312867172 do sở kế hoạch và đầu tư tp. HCM cấp ngày
          23/07/2014
        </div>
        <div class="text-white py-1 text-xs">
          Người đại diện: <b>NGÔ NGUYÊN KHA</b>
        </div>
        <div class="text-white py-1 text-xs">
          Địa chỉ: 86-88 Cao Thắng, phường 04, quận 3, tp Hồ Chí Minh Điện
          thoại: (028) 7107 8079 Email: hi@thecoffeehouse.vn
        </div>
        <div class="text-white py-1 text-xs">
          © 2014-2022 Công ty cổ phần thương mại dịch vụ Trà Cà Phê VN mọi quyền
          bảo lưu
        </div>
      </div>
      <div class="justify-end items-start ml-auto mt-[80px]">
        <img
          src="https://order.thecoffeehouse.com/_nuxt/img/active.4cba64f.png"
          alt=""
        />
      </div>
    </div>
  </footer>
</template>

<style>
@import "@fortawesome/fontawesome-free/css/all.min.css";
.carticon {
  width: 70px;
  height: 70px;
}

.bgimg {
  background-image: url("https://order.thecoffeehouse.com/_nuxt/img/footer-desktop.727f3a2.png");
}
</style>
